<footer class="bg-grey-4 ph3 pv4 white">

	<div class="mw8 center pt3 flex">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Lamerfest</h3>
				<ul class="mb3">
                    <li><a href="/" class="link">Etusivu</a></li>
                    <li><a href="/about" class="link">Tietoja</a></li>
                    <li><a href="/program" class="link">Ohjelma</a></li>
                    <li><a href="/tickets" class="link">Liput</a></li>
                    <li><a href="/contact" class="link">Yhteystiedot</a></li>
				</ul>
			</div>

			<div class="pl5-ns mb4 mb0-ns">
				<h3 class="f4 b lh-title mb2 primary">Sosiaalinen media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Lamerfest/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/lamerfest" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/lamerfest/" "svg" "icons-instagram") }}
				</ul>
			</div>

			<div class="pl5-ns">
				<h3 class="f4 b lh-title mb2 primary">Tapahtumassa mukana</h3>
				<div class="flex-ns">
					<img class="h4 ma2 w-auto self-center" src="/img/jimms_logo.png" alt="Jimms">
					<img class="h3 ma2 w-auto self-center" src="/img/opkh_logo.png" alt="Vaskivuoren oppilaskunnan hallitus">
					<img class="h3 ma2 w-auto self-center" src="/img/vaskis_logo.png" alt="Vaskivuoren lukio">
					<!--<img class="h3 ma2 w-auto self-center" src="/img/damicon_logo.svg" alt="Damicon"> -->
				</div>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
