<nav class="flex justify-center items-center bg-grey-4-o70 divider-grey w-100 absolute">

	<!-- Logo -->
	<a href="/" class="db mt2 mr4 h-80 w3 flex-none">
		<img src="/img/lf_logo.svg" alt="Lamerfest" class="w-80"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b f6-m off-white">
		<li><a href="/" class="pa3 no-underline db">Etusivu</a></li>

		<li><a href="/about" class="pa3 no-underline db">Tietoja</a></li>

		<li><a href="/program" class="pa3 no-underline db">Ohjelma</a></li>

		<li><a href="/tickets" class="pa3 no-underline db">Liput</a></li>
        
        <li><a href="/contact" class="pa3 no-underline db">Yhteystiedot</a></li>
	</ul>

</nav>
