<div class="bg-grey-4 pv4">
  <div class="flex-l tc flex-column w-100 off-white center">
    <h2 class="f2 b lh-title mb2">{{.heading}}</h2>
    <div class="mb4 w-80-ns self-center">{{.text}}</div>
    <h2 class="f2 mb2 lh-title center">Mitä odottaa?</h2>
  </div>
    <div class="flex-ns off-white justify-center mb0-ns">
      <div class="pa4-m flex flex-column mb5 mb0-ns">
        <p class="mh2-m tc w5-ns">Tapahtuman aulassa on useita konsoleita yleisessä käytössä, mukaanlukien Xbox one ja PS4</p>
        <img class="h5-ns h5 center" src="/img/console_photo.png">
      </div>
      <div class="pa4-m w-5 flex flex-column mb5 mb0-ns">
        <p class="mh2-m tc w5-ns">Luvassa tiukkaa vääntöä mm. Vantaan CS mestaruudesta ja monesta muusta upeasta tittelistä</p>
        <img class="h5-ns h5 center" src="/img/keyboard.png">
      </div>
      <div class="pa4-m w-5 flex flex-column mb5 mb0-ns">
        <p class="mh2-m tc w5-ns">Lamerfestin kahvio tarjoaa virvokkeita ja syötävää tuttuun tapaan</p>
        <img class="h5-ns h5 center" src="/img/drinks.png">
      </div>
    </div>
</div>
